@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #0a0e17;
  color: #e2e8f0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0e17;
}
::-webkit-scrollbar-thumb {
  background: #1e2739;
  border-radius: 4px;
}
